
body {font-family: Arial;}

.text-justify {text-align: justify;}

.text-secret {color: #ffffff;}

.btn {border: 1px solid #c5c9e6 !important;}

.margin-y {margin-top: 70px; margin-bottom: 70px;}

.link-btn {border: 0px solid #ffffff !important;}

.caption {font-weight: bold; margin-top: 100px; margin-bottom: 20px;}

.margin-bottom-y1 {margin-bottom: 30px;}
.margin-bottom-y2 {margin-bottom: 100px;}
.margin-bottom-y3 {margin-bottom: 200px;}

.table {
    border-collapse: collapse;
    padding-bottom: 100px;
    margin-left: 0;
    margin-right: auto;
    max-width: 350px;
}

.sct {
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
    background-color: #ffffff !important;
}

@media (max-width: 768px) {

    body {text-align: center !important;}

    .container {
        width: auto !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .table {
        margin-left: auto !important;
    }

    .card {
        margin-left: auto !important;
        margin-right: auto !important;
    }

}
